
body  {
	background-size: 100% 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 150%;
	font-weight: normal;
	font-variant: normal;
	background-attachment: fixed;
	background-color: #FFF;
	background-image: url(images/strip.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	text-align: left;
	
}
section { 
	width: 960px;  
	background-image:url(images/header-bg.png);
	background-repeat:repeat-x;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 10px;
	background-color: #FFFFFF;
	margin: 25px auto; 
	border: 1px solid #000000;
	text-align: left; 
} 
header { 
	height:120px;
	float:left;
	width:100%;
} 
article header p {
	line-height:150%;
	font-size: x-large;
	font-weight: bold;
	
	
    }
article header {
	padding-bottom: 30px;
}

article header h1 {
	font-size: x-large;	
	
}
.logo1 {
	float: left;
	height: 50%;
}
.contacts1 {
  width: 20%;
  margin-left: 225px;
  float: left;
  font-size: 14px;
   line-height: 22px;
  
}
.contacts2 {
  width: 20%;
  margin: 0 10px;
  float: left;
  font-size: 14px;
  line-height: 22px;
}

.contacts2 a {
color:#000;
text-decoration: none;
color: black;

}
aside a {
color:#000;
}
aside a::hover {
text-decoration:underline;
font-size:14px;
}
aside {
	float: left; 
	width: 20%; 
	padding: 0 10px 15px 20px;
}
aside ul  {

	padding-left: 20px;
	line-height: 150%;
}
aside ul li {
margin:10px 0;
}
aside ul li a {
	color:#000;
	font-size:13px;
	text-decoration:none;
}
aside ul  li a:hover {
	color:#000;
	text-decoration:underline;
}

.news {
padding-top: 10px;
}

main { 
	width: 70%;
	float:left;
padding-left: 25px;
} 
article img { 
	width: 45%;
	display: block;
	margin: auto;
	border-radius:10px;
	border:5px solid #00698c;
}

address { 
	background:#DDDDDD; 
	height:90px;
	float: left;
	width: 100%;
} 

address p {
	margin: 0; 
	padding: 10px 10px; 
}

footer img { 
	width: 90%;
	margin-bottom: 10px;
}

.logo {
	float: left;
	height: 100px;
	width: 300px;
}

section:after {
	content: "";
	display: block;
	clear: both;
}